body{
  background-position: right;
  background-repeat: no-repeat;
  /*background-image: url(https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX1171222.jpg);*/
}
.wrapper{
    margin: 0 auto;
    color:black;
    /*width:1280px;*/
}

.select{
    
    font-size:60px;
    margin:40px;
    width:100px;
    height:100px;
    /*border-style: solid;*/
    /*border-width: 5px;*/
    display:inline-block;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen{
    color:black;
    background-color:#F0F0F0 ;
    text-align:center;
}
html, body, div {
  height: 100%;
  font-family:sans-serif;
  overflow:hidden;
}


article {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

div {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow:inherit;
}

.left{
  font-size:80px;
  line-height:20px;
  color:black;
  overflow:inherit;
  background-image:url("http://40.media.tumblr.com/4d995a504c0e3252d9ec3f28b0c07e7a/tumblr_ms8ns62TQX1rog5d1o1_1280.jpg");
  background-repeat: no-repeat;
  
}


.right{
  font-size:80px;
  line-height:20px;
  color:white;
  overflow:inherit;
  background-image:url("http://40.media.tumblr.com/4d995a504c0e3252d9ec3f28b0c07e7a/tumblr_ms8ns62TQX1rog5d1o1_1280.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  
}

iframe{
  display:inline-block;
  /*width:auto;*/
  height:100%;
  border:none;
  overflow:hidden;
  min-width:50%;
  background:transparent;
}

.size_zero{
  font-size:0;
}

a{
  color:black;
  text-decoration:none;
}

p{
  display:inline-block;
  background-color:yellow;
  width:50%;
}
div{
  overflow:hidden;
}

