

body{
    font: 80%/1.5 arial, helvetica, sans-serif;
    display: flex;
}  


.lab , .index{
    background-color:#ebebeb;
}

.wrapper{
	width: 100%
}


/**//**//**//*NAVIGATION*//**//**//**//**//**//**/

ul{
    /*position:relative;*/
    display:inline-block;
    /*padding: auto 0;*/
    margin:auto;
    vertical-align:bottom;
}

.sl{
    margin:0px 5px;
    display:inline-block;
    border-radius: 3px;
    border:solid;
    border-color:#42628C;
    font-family: Arial;
    /*color: #42628C;*/
    font-size: 14px;
    padding: 7px;
    text-decoration: none;
    
}

.sl:hover{
    color: white;
    background-color:#42628C;

}

li{
    display:inline-block;
}

nav{
    position:relative;
    display:inline-block;
    /*text-align:left;*/
    /*margin:auto;*/
    padding:10px 0px;
}

/**//**//**//*HEADER*//**//**//**//**//**//**/

header{
    display:flex;
	justify-content: flex-end;
	align-content: center;
	margin:30px 0px 30px 50px;
}
.header{
	display: flex;
    position:relative;
	width: 100%;
}

.description, .big {
    position:relative;
    display:inline-block;
    text-decoration:none;
    font-family:helvetica;
    font-weight:lighter;
    color:#7D6464;
    margin:4px 0px;
    /*width:20%;*/
    line-height:30px;
    
}

.small{
    position:relative;
    width:200px;
    /*height:50px;*/
    color:#42628C;
    line-height:16px;
    text-align:inherit;
    vertical-align:top;
    font-size:14px;
    margin-left:30px;
    border-left:solid;
    border-color:#42628C;
    padding-left:10px;
}

.big{
	color:#42628C;
    position:relative;
    font-size:30px;
    padding-right:-20px;
    /*width:12%;*/
    vertical-align:center;
}

.header > a:first-child{
	border-left:none
}


/*COMPOSITION*//**//**//**//**//**//**//**//**//**//**/

.logo {
    font-size: 35px;
    background-color: #B1D6CA;
    width: 100%;
    border: 3px dotted #50ABFD ;
    margin: 5px;
}

.bauhaus{
    color: purple;
    background-color: #FFC285;
    font-size:26px;
}

.junk{
    color: blue;
    border-style: solid;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**/


/*CONTENT*//**//**//**//**//**//**//**//**//**//**/

.content{
	margin-top: 20px;
	height: 100vh;
  display: flex;
	border-top: 3px dotted #42628C



}
article{
	flex:  3 300px;
  margin:10px;

}


a{
    text-decoration:none;
    color:#42628C;
    border-left:solid;
    padding-left:4px;
    display:inline;
}

img{
    width:100px;
}


.content p {
		flex: 1 5 300px;
    text-align:left;
    font-size:medium;
    color:#375275;
/*    width:300px;*/
		flex-wrap: wrap;
}


.title{
    text-align:left;
    line-height:22px;
    font-family:helvetica, sans-serif;
    color:#A68585;
    font-weight:lighter;
    font-size:24px;
}

