

body{
    background-color: #33FFFF;
    font: 80%/1.5 arial, helvetica, sans-serif;
}  

.lab , .index{
    background-color:#D9C8B4;
}

.wrapper{
    position:relative;
    font-size:0px;
    padding:0 5px;
}


/**//**//**//*NAVIGATION*//**//**//**//**//**//**/

ul{
    /*position:relative;*/
    display:inline-block;
    /*padding: auto 0;*/
    margin:auto;
    vertical-align:bottom;
}

.sl{
    margin:0px 5px;
    display:inline-block;
    border-radius: 6px;
    border:solid;
    border-color:#42628C;
    font-family: Arial;
    color: #42628C;
    font-size: 24px;
    padding: 7px;
    text-decoration: none;
}

li{
    display:inline-block;
}

nav{
    position:relative;
    display:inline-block;
    text-align:left;
    margin:auto;
    padding:10px 0px;
}

/**//**//**//*HEADER*//**//**//**//**//**//**/

header{
    display:inline-block;
    width:100%;
}
.header{
    /*text-align:left;*/
    /*position:relative;*/
    padding-bottom:10px;
    border-bottom:dotted;
    border-bottom-color:#42628C;
}

.description, .big {
    display:inline-block;
    text-decoration:none;
    font-family:helvetica;
    font-weight:lighter;
    color:#7D6464;
    margin:4px 0px;
    width:20%;
    line-height:30px;
    
}

.small{
    /*position:relative;*/
    width:200px;
    height:50px;
    color:#42628C;
    line-height:16px;
    text-align:inherit;
    vertical-align:top;
    font-size:14px;
    margin-left:5px;
    border-left:solid;
    border-color:#42628C;
    padding-left:5px;
}

.big{
    position:relative;
    font-size:30px;
    padding-right:-20px;
    /*width:12%;*/
    vertical-align:center;
}


/*COMPOSITION*//**//**//**//**//**//**//**//**//**//**/

.logo {
    font-size: 35px;
    background-color: #B1D6CA;
    width: 100%;
    border: 3px dotted #50ABFD ;
    margin: 5px;
}

.bauhaus{
    color: purple;
    background-color: #FFC285;
    font-size:26px;
}

.junk{
    color: blue;
    border-style: solid;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**/


/*CONTENT*//**//**//**//**//**//**//**//**//**//**/

.content{
    margin: auto;
}
article{
    display:inline-block;
    margin:10px;
    vertical-align:top;
}

h1,h2,h3,h4,h5,h6 {
    font-family:helvetica, sans-serif;
    text-decoration:underline;
    color:#A68585;
    font-weight:lighter;
    font-size:24px;
}



a{
    text-decoration:none;
    color:#42628C;
    border-left:solid;
    padding-left:4px;
    
}

img{
    width:150px;
}


.content p {
    font-size:14px;
    color:#375275;
    width:250px;
    
    
}

