

body{
    font-family:  arial, helvetica, sans-serif;
    display: flex;
}  


.lab , .index{
    background-color:#ebebeb;
}

.wrapper{
	width: 80%;
  margin: 0 auto;
	display: flex;
	flex-flow: column;
}


/**//**//**//*NAVIGATION*//**//**//**//**//**//**/

.current:link, .current:visited {
	color: white;
  background-color:#42628C;
}

.sl{
		display: flex;
		justify-content: center;
    margin:10px 0;
    border-radius: 3px;
    border:solid;
    border-color:#42628C;
    font-family: Arial;
    font-size: 1.5vw;
    padding: 7px;
    text-decoration: none;
    
}

.sl:hover{
    color: white;
    background-color:#42628C;

}

li{
    list-style: none;
}


/**//**//**//*HEADER*//**//**//**//**//**//**/

.header{
		width: 100%;
		display:inline-flex;
    margin:10px;
    position:relative;
    justify-content: space-between;
    align-content: center;
}



.description, .big {
		width: 65%;
		justify-content: space-between;
    position:relative;
    text-decoration:none;
    font-family: helvetica;
    font-weight:lighter;
    color:#7D6464;
    margin:4px 0px;
    
}

.small{
/*    position:relative;*/
/*		flex: 1 10 300px;*/
    color:#42628C;
		text-align: left;
		width: 300px;
/*    vertical-align:top;*/
    font-size: 1.3em;
/*		align-self: center;*/
/*    margin-left:30px;*/
    border-left:solid;
    border-color:#42628C;
    padding-left:10px;
}

.big{
	color:#42628C;
    position:relative;
    font-size: 3em;
/*		text-align: left;*/
/*    padding-right:-31px;*/
}

.header > a:first-child{
	border-left:none;
}


/*CONTENT*//**//**//**//**//**//**//**//**//**//**/

.content{
  display:flex;
	margin-top: 20px;
	border-top: 3px dotted #42628C;
}

article{
    margin:10px;
		justify-content: center;
    font-size: 1vw;

}


a{
		display:flex;
    text-decoration:none;
    color:#42628C;
    border-left:solid;
    padding-left:4px;
}


img{
    width:8em;
}


.content p {
		font-size: 1.3vw;
    text-align:left;
    color:#375275;
		flex-wrap: wrap;
}


.title{
    text-align:left;
    line-height:22px;
    font-family:helvetica, sans-serif;
    color:#A68585;
    font-weight:lighter;
    font-size:24px;
}

/************MEDIA QUERIES*************************/

@media screen and (max-width: 640px){

	.header{
		flex-flow: column;
		width: 100%;
		margin: 0;
/*		padding: 0;*/
/*		justify-content: flex-start;*/
/*		align-content: stretch;*/
		flex-grow:5 0 100%;
  }
	.wrapper {
		display: flex;
		width: 100%;
}
	.wrapper > * {
		flex-direction: column;
/*		text-align: center;*/
/*		flex-grow:3 0 auto;*/
}

	article{
		background-color: #d6dee8;
	}

	.content  p{
		flex-direction: column;
		font-size: 3.8vw;
	}

	ul{
		padding: 0;
	}

	.sl{
		font-size: 5vw;

	}
.description {
		flex-flow: column;
		margin: 10px 0;
		text-align: left;
}


}/*end of media screen 600px*/











/*COMPOSITION*//**//**//**//**//**//**//**//**//**//**/

.logo {
    font-size: 35px;
    background-color: #B1D6CA;
    width: 100%;
    border: 3px dotted #50ABFD ;
    margin: 5px;
}

.bauhaus{
    color: purple;
    background-color: #FFC285;
    font-size:26px;
}

.junk{
    color: blue;
    border-style: solid;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**/
