body{
    background-color: #33FFFF;
    font: 80%/1.5 arial, helvetica, sans-serif;
    text-align: center;
}  

.lab , .index{
    background-color:white;
}

.logo {
    font-size: 35px;
    background-color: #B1D6CA;
    width: 100%;
    border: 3px dotted #50ABFD ;
    margin: 5px;
}

.bauhaus{
    color: purple;
    background-color: #FFC285;
}

h1,h2,h3,h4,h5,h6 {
    text-decoration: overline;
    color:#FF3333;
}

.junk{
    color: blue;
    border-style:  solid;
}

a{
    text-decoration:none;
    tex
}

img{
    width:200px;
}

div {
	width: auto;
	margin: auto;
}

p {
    width:50%;
    margin:auto;
    text-align:justify;
}
