body{
    font-family: sans-serif;
    background-color:gainsboro;
    color:indianred;
	display: flex;
}
.wrapper{

}

h1{
	text-align: center;
}
p {
    width:75% ;
	margin:10px auto;
	color: #777;
}


/************ALPHABET*****************************************/
.alphabet{
    margin:100px 50px;
    display:flex;
    flex-wrap:wrap;
    padding: 40px 30px 20px 30px;
}

/*DIVS METHOD */
/**//**//**//**//*LETTER A//**//**//**//**//**/

/*.letter-a{*/
  margin:10px;
  display: flex;
}

/*.la{*/
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-a;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
/*.ca{*/
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-a;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/*.ra{*/
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-a;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION A//**//**//**//**//**/
@keyframes left-a{
		from{transform: rotate(0);}
		to{transform: rotate(15deg);}
}

@keyframes center-a{
		from{transform: rotate(0);}
		to{transform:  rotate(90deg);}
}

@keyframes right-a{
		from{transform: rotate(0);}
		to{transform: rotate(-15deg);}
}

/**//**//**//**//*LETTER B//**//**//**//**//**/


.letter-b{
  margin:10px;
  display:flex;
}


.lb{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cb{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-b;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 400ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rb{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-b;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 400ms;
  animation-iteration-count:1;
	animation-direction:normal;

}

/**//**//**//**//*ANIMATION B//**//**//**//**//**/
@keyframes center-b{
		from{transform: rotate(0);}
		to{transform: translateY(1px) translateX(7px) rotate(90deg);}
}

@keyframes right-b{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER C//**//**//**//**//**/

.letter-c{
  margin:10px;
  display: flex;
}


.lc{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cc{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-c;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rc{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-c;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION C//**//**//**//**//**/
@keyframes center-c{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(7px) rotate(90deg);}
}

@keyframes right-c{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER D//**//**//**//**//**/

.letter-d{
  margin:10px;
  display: flex;
}


.ld{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-d;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cd{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-d;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rd{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

/**//**//**//**//*ANIMATION D//**//**//**//**//**/
@keyframes left-d{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(18px) rotate(90deg);}
}

@keyframes center-d{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(-0.469em) rotate(90deg);}
}

/**//**//**//**//*LETTER E//**//**//**//**//**/

.letter-e{
  margin:10px;
  display: flex;
}


.le{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-e;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.ce{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-e;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.re{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-e;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION E//**//**//**//**//**/
@keyframes left-e{
		from{transform: rotate(0);}
		to{transform: scaleX(1.35) translateY(-18px) translateX(19px) rotate(90deg);}
}

@keyframes center-e{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(0.031em) translateX(0.031em) rotate(90deg);}
}

@keyframes right-e{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(19px) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER F//**//**//**//**//**/

.letter-f{
  margin:10px;
  display: flex;
}

.lf{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cf{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-f;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 800ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rf{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-f;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 800ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION F//**//**//**//**//**/

@keyframes center-f{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-f{
		from{transform: rotate(0);}
		to{transform: translateY(-0.031em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER G//**//**//**//**//**/


.letter-g{
  margin:10px;
  display: flex;
}

.lg{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 900ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cg{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 900ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rg{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 900ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION G//**//**//**//**//**/

@keyframes left-g{
		from{transform: rotate(0);}
		to{transform:scaleX(1.3) translateY(-16px) translateX(20px) rotate(90deg);}
}

@keyframes center-g{
		from{transform: rotate(0);}
		to{transform:scaleX(1.3) translateY(18px) translateX(1px) rotate(-90deg);}
}

@keyframes right-g{
		from{transform: rotate(0);}
		to{transform:scaleY(.40)translateY(32px) translateX(2px);}
}

/**//**//**//**//*LETTER H//**//**//**//**//**/

.letter-h{
  margin:10px;
  display: flex;
}

.lh{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.ch{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-h;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1000ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rh{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION H//**//**//**//**//**/

@keyframes center-h{
		from{transform: rotate(0);}
		to{transform:rotate(90deg);}
}

/**//**//**//**//*LETTER I//**//**//**//**//**/

.letter-i{
  margin:10px;
  display: flex;
}


.li{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-i;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1100ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.ci{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

.ri{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-i;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1100ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION I//**//**//**//**//**/

@keyframes left-i{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(-1.094em) translateX(19px) rotate(90deg);}
}

@keyframes right-i{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER J//**//**//**//**//**/

.letter-j{
  margin:10px;
  display: flex;
}


.lj{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-j;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1200ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cj{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-j;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1200ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rj{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

/**//**//**//**//*ANIMATION J//**//**//**//**//**/

@keyframes left-j{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(18px) rotate(90deg);}
}

@keyframes center-j{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER K//**//**//**//**//**/

.letter-k{
  margin:10px;
  display: flex;
}

.lk{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.ck{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-k;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rk{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-k;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION K//**//**//**//**//**/

@keyframes center-k{
		from{transform: rotate(0);}
		to{transform:  translateY(-1px) translateX(3px)rotate(35deg);}
}

@keyframes right-k{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}


/**//**//**//**//*LETTER L//**//**//**//**//**/

.letter-l{
  margin:10px;
  display: flex;
}


.ll{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}

.cl{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-l;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1400ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rl{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-l;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1400ms;
  animation-iteration-count:1;
	animation-direction:normal;

}

/**//**//**//**//*ANIMATION L//**//**//**//**//**/

@keyframes center-l{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) rotate(90deg);}
}

@keyframes right-l{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER M//**//**//**//**//**/

.letter-m{
  margin:10px;
  display: flex;
}

.lm{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cm{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-m;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rm{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-m;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION M//**//**//**//**//**/

@keyframes center-m{
		from{transform: rotate(0);}
		to{transform:rotate(-27deg) translateX(-10px) translateY(-4px);}
}

@keyframes right-m{
		from{transform: rotate(0);}
		to{transform:rotate(-27deg) translateX(-10px) translateY(-7px);}
}


/**//**//**//**//*LETTER N//**//**//**//**//**/

.letter-n{
  margin:10px;
  display: flex;
}

.ln{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cn{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-n;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rn{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION O//**//**//**//**//**/

@keyframes center-n{
		from{transform: rotate(0);}
		to{transform:rotate(-60deg);}
}


/**//**//**//**//*LETTER O//**//**//**//**//**/

.letter-o{
  margin:10px;
  display: flex;
}

.lo{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.co{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-o;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.ro{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION O//**//**//**//**//**/

@keyframes center-o{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER P//**//**//**//**//**/

.letter-p{
  margin:10px;
  display: flex;
}

.lp{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cp{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-p;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1800ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rp{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-p;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1800ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION P//**//**//**//**//**/

@keyframes center-p{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-p{
		from{transform: rotate(0);}
		to{transform: translateY(-.2em) translateX(-1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER Q//**//**//**//**//**/

.letter-q{
  margin:10px;
  display: flex;
}

.lq{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cq{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-q;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 1900ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rq{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION Q//**//**//**//**//**/


@keyframes center-q{
		from{transform: rotate(0);}
		to{transform:rotate(-45deg) translate(-10px, 18px);}
}

/**//**//**//**//*LETTER R//**//**//**//**//**/

.letter-r{
  margin:10px;
  display: flex;
}

.lr{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cr{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-r;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2000ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rr{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-r;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2000ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION R//**//**//**//**//**/


@keyframes center-r{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-r{
		from{transform: rotate(0);}
		to{transform:translateY(2px)translateX(-15px) rotate(-45deg);}
}

/**//**//**//**//*LETTER S//**//**//**//**//**/

.letter-s{
  margin:10px;
  display: flex;
}

.ls{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-s;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2100ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cs{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-s;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2100ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rs{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: rotate;
  animation-name: right-s;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2100ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION S//**//**//**//**//**/

@keyframes left-s{
		from{transform: rotate(0);}
		to{transform:scaleX(1.30) translateY(18px) translateX(20px) rotate(90deg);}
}

@keyframes center-s{
		from{transform: rotate(0);}
		to{transform:scaleX(1.30) translateY(-1.094em) rotate(90deg);}
}

@keyframes right-s{
		from{transform: rotate(0);}
		to{transform:translateY(0px)translateX(-25px) rotate(-45deg);}
}

/**//**//**//**//*LETTER T//**//**//**//**//**/

.letter-t{
  margin:10px;
  display: flex;
}


.lt{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-t;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2200ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.ct{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

.rt{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-t;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2200ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION T//**//**//**//**//**/

@keyframes left-t{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(-1.094em) translateX(19px) rotate(90deg);}
}

@keyframes right-t{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(-1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER U//**//**//**//**//**/

.letter-u{
  margin:10px;
  display: flex;
}


.lu{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cu{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-u;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 2300ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.ru{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION U//**//**//**//**//**/

@keyframes center-u {
    from {transform:rotate(0deg);}
    to {transform:translateY(1.094em) rotate(90deg);}
}


/**//**//**//**//*LETTER V//**//**//**//**//**/

.letter-v{
  margin:10px;
  display: flex;
}


.lv{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-v;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 2400ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cv{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-v;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 2400ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rv{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-v;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 2400ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION V//**//**//**//**//**/

@keyframes left-v{
		from{transform: rotate(0);}
		to{transform:scaleY(1.25) translateX(12px) rotate(-45deg);}
}

@keyframes center-v {
    from {transform:rotate(0deg);}
    to {transform:translateX(15px)  rotate(40deg);}
}

@keyframes right-v{
		from{transform: rotate(0);}
		to{transform:scaleY(1.25) translateX(-12px) rotate(45deg);}
}

/**//**//**//**//*LETTER W//**//**//**//**//**/

.letter-w{
  margin:10px;
  display: flex;

}

.lw{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cw{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-w;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 2700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rw{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-w;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 2700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION W//**//**//**//**//**/

@keyframes left-w{
		from{transform: rotate(0);}
		to{transform:scaleY(1.1) scaleX(1.35) translateX(18px) rotate(-35deg);}
}

@keyframes center-w {
    from {transform:rotate(0deg);}
    to {transform:rotate(27deg) translateX(-10px) translateY(5px);}
}

@keyframes right-w{
		from{transform: rotate(0);}
		to{transform:rotate(27deg) translateX(-10px) translateY(7px);}
}

/**//**//**//**//*LETTER X//**//**//**//**//**/

.letter-x{
  margin:10px;
  display: flex;
}


.lx{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-x;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 2600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cx{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-x;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 2600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rx{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-x;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 2600ms;
  animation-iteration-count:1;
	animation-direction:normal;
}


/**//**//*/*ANIMATION X*//**//**//**//**//**//**//**/

@keyframes right-x{
		from{transform: rotate(0);}
		to{transform:scaleY(1.1) scaleX(1.35) translateX(-18px) rotate(35deg);}
}

@keyframes center-x {
    from {transform:rotate(0deg);}
    to {transform: translateY(4px)  translateX(-2px) rotate(35deg);}
}


@keyframes left-x{
		from{transform: rotate(0);}
		to{transform:scaleY(1.1) scaleX(1.35) translateX(18px) rotate(-35deg);}
}

/**//**//**//**//*LETTER Y//**//**//**//**//**/

.letter-y{
  margin:10px;
  display: flex;
}


.ly{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-y;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 2700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cy{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-y;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 2700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

.ry{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-y;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 2700ms;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//*/*ANIMATION Y*//**//**//**//**//**//**//**/

@keyframes right-y{
		from{transform: rotate(0);}
		to{transform:scaleY(1.10) translateX(-13px) rotate(45deg);}
}

@keyframes center-y {
    from {transform:rotate(0deg);}
    to {transform:scale(0.95) translateY(1.094em)  translateX(-2px) rotate(39deg);}
}


@keyframes left-y{
		from{transform: rotate(0);}
		to{transform:scaleY(1.10) translateX(12px) rotate(-45deg);}
}

/**//**//**//**//*LETTER Z//**//**//**//**//**/


.letter-z{
  margin:10px;
  display: flex;
}

.lz{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  background-color:#555;
  animation-name: left-z;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 2800ms;
  animation-iteration-count:1;
	animation-direction:normal;
}
.cz{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name:center-z;
  animation-duration:600ms;
	animation-fill-mode:forwards;
	animation-delay: 2800ms;
  animation-iteration-count:1;
	animation-direction: normal;
}

.rz{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-z;
  animation-duration:400ms;
	animation-fill-mode:both;
	animation-delay: 2800ms;
  animation-iteration-count:1;
	animation-direction: normal;
}


/**//**//*/*ANIMATION Z*//**//**//**//**//**//**//**/


@keyframes right-z{
		from{transform: rotate(0);}
		to{transform:scaleX(1.30) translateX(-20px)translateY(-1.094em) rotate(90deg);}
}

@keyframes center-z {
    from {transform:rotate(0deg);}
    to {transform: translateY(0px) rotate(45deg);}
}

@keyframes left-z{
		from{transform: rotate(0);}
		to{transform:scaleX(1.30) translateY(18px) translateX(20px) rotate(90deg);}
}




/************ALPHABET GLITCHY*****************************************/

.alphabet-b{
    margin:100px 50px;
    display:flex;
    flex-wrap:wrap;
    padding: 40px 30px 20px 30px;


}

/*ROUGH ANIMATION */
/**//**//**//**//*LETTER A//**//**//**//**//**/

.letter-a{
  margin:10px;
  display: flex;
}

.la{
  margin: 0 5px;
  width: 15px;
  height: 50px;
/*  position: relative;*/
  background-color:#555;
}

.animateLa{
	animation-name: left-a;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
/*	animation-delay: 1s;*/
  animation-iteration-count:2;
/*	animation-direction:normal;*/
}
.ca{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

.animateCa{
	animation-name: center-a;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
/*	animation-delay: 1s;*/
  animation-iteration-count:2;
/*	animation-direction:normal;*/
}

.ra{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

.animateRa{
	animation-name: right-a;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
/*	animation-delay: 1s;*/
  animation-iteration-count:3;
/*	animation-direction:normal;*/
}

/**//**//**//**//*ANIMATION A//**//**//**//**//**/
@keyframes left-a{
		from{transform: rotate(-20);}
		to{transform: rotate(15deg);}
}

@keyframes center-a{
		from{transform: rotate(0);}
		to{transform:  rotate(90deg);}
}

@keyframes right-a{
		from{transform: rotate(0);}
		to{transform: rotate(-15deg);}
}

/**//**//**//**//*LETTER B//**//**//**//**//**/


.letter-b{
  margin:10px;
  display:flex;
}


.lb{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cb{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-b;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 1s;
  animation-iteration-count:5;
	animation-direction:alternate;
}

.rb{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-b;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 1s;
  animation-iteration-count:3;
	animation-direction:alternate;

}

/**//**//**//**//*ANIMATION B//**//**//**//**//**/
@keyframes center-b{
		from{transform: rotate(0);}
		to{transform: translateY(1px) translateX(7px) rotate(90deg);}
}

@keyframes right-b{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER C//**//**//**//**//**/

.letter-c{
  margin:10px;
  display: flex;
}


.lc{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cc{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-c;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 2s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rc{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-c;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 2s;
  animation-iteration-count:4;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION C//**//**//**//**//**/
@keyframes center-c{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(7px) rotate(90deg);}
}

@keyframes right-c{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER D//**//**//**//**//**/

.letter-d{
  margin:10px;
  display: flex;
}


.ld{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-d;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 3s;
  animation-iteration-count:2;
	animation-direction:normal;
}
.cd{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-d;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 3s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rd{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

/**//**//**//**//*ANIMATION D//**//**//**//**//**/
@keyframes left-d{
		from{transform: rotate(0);}
		to{transform: translateY(1.094em) translateX(18px) rotate(90deg);}
}

@keyframes center-d{
		from{transform: rotate(0);}
		to{transform: translateY(-1.094em) translateX(-0.469em) rotate(90deg);}
}

/**//**//**//**//*LETTER E//**//**//**//**//**/

.letter-e{
  margin:10px;
  display: flex;
}


.le{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-e;
  animation-duration: 400ms;
  animation-fill-mode:forwards;
	animation-delay: 3.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}
.ce{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-e;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 3.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.re{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-e;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
	animation-delay: 3.5s;
  animation-iteration-count:5;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION E//**//**//**//**//**/
@keyframes left-e{
		from{transform: rotate(0);}
		to{transform: scaleX(1.35) translateY(-18px) translateX(19px) rotate(90deg);}
}

@keyframes center-e{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(0.031em) translateX(0.031em) rotate(90deg);}
}

@keyframes right-e{
		from{transform: rotate(0);}
		to{transform:scaleX(1.35) translateY(19px) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER F//**//**//**//**//**/

.letter-f{
  margin:10px;
  display: flex;
}

.lf{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cf{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-f;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 4s;
  animation-iteration-count:2;
	animation-direction:normal;
}

.rf{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-f;
  animation-duration: 400ms;
  animation-fill-mode:forwards;
	animation-delay: 4s;
  animation-iteration-count:3;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION F//**//**//**//**//**/

@keyframes center-f{
		0%{transform: rotate(0);}
		30%{transform: rotate(50);}
		100%{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-f{
		from{transform: rotate(0);}
		to{transform: translateY(-0.031em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER G//**//**//**//**//**/


.letter-g{
  margin:10px;
  display: flex;
}

.lg{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 4.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}
.cg{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 4.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rg{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-g;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 4.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION G//**//**//**//**//**/

@keyframes left-g{
		from{transform: rotate(0);}
		to{transform:scaleX(1.3) translateY(-16px) translateX(20px) rotate(90deg);}
}

@keyframes center-g{
		from{transform: rotate(0);}
		to{transform:scaleX(1.3) translateY(18px) translateX(1px) rotate(-90deg);}
}

@keyframes right-g{
		from{transform: rotate(0);}
		to{transform:scaleY(.40)translateY(32px) translateX(2px);}
}

/**//**//**//**//*LETTER H//**//**//**//**//**/

.letter-h{
  margin:10px;
  display: flex;
}

.lh{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.ch{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-h;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rh{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION H//**//**//**//**//**/

@keyframes center-h{
		0%{transform: rotate(0);}
		25%{transform:rotate(70deg);}
		75%{transform:rotate(45deg);}
		100%{transform:rotate(90deg);}
}

/**//**//**//**//*LETTER I//**//**//**//**//**/

.letter-i{
  margin:10px;
  display: flex;
}


.li{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-i;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 5.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}
.ci{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

.ri{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-i;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 5.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION I//**//**//**//**//**/

@keyframes left-i{
		0%{transform: rotate(0);}
		25%{transform:rotate(-70deg);}
		100%{transform:scaleX(1.35) translateY(-1.094em) translateX(19px) rotate(90deg);}
}

@keyframes right-i{
		0%{transform: rotate(0);}
		50%{transform:scaleX(-1.35) translateY(-1.094em) translateX(-8px) rotate(9deg);}
		100%{transform:scaleX(1.35) translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER J//**//**//**//**//**/

.letter-j{
  margin:10px;
  display: flex;
}


.lj{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-j;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 6s;
  animation-iteration-count:2;
	animation-direction:normal;
}
.cj{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-j;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 6s;
  animation-iteration-count:2;
	animation-direction:normal;
}

.rj{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

/**//**//**//**//*ANIMATION J//**//**//**//**//**/

@keyframes left-j{
		0%{transform: rotate(0);}
		40%{transform: translateY(-0.94em) translateX(-6px) rotate(-10deg);}
		100%{transform: translateY(1.094em) translateX(18px) rotate(90deg);}
}

@keyframes center-j{
		0%{transform: rotate(0);}
		36%{transform: rotate(78deg);}
		100%{transform: translateY(1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER K//**//**//**//**//**/

.letter-k{
  margin:10px;
  display: flex;
}

.lk{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.ck{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-k;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 6.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rk{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-k;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 6.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION K//**//**//**//**//**/

@keyframes center-k{
		0%{transform: rotate(0);}
		10%{transform: rotate(30);}
		50%{transform: rotate(-36);}
		100%{transform:  translateY(-1px) translateX(3px)rotate(35deg);}
}

@keyframes right-k{
		0%{transform: rotate(0);}
		50%{transform: rotate(-50deg);}
		100%{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}


/**//**//**//**//*LETTER L//**//**//**//**//**/

.letter-l{
  margin:10px;
  display: flex;
}


.ll{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}

.cl{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-l;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 7s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rl{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-l;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 7s;
  animation-iteration-count:2;
	animation-direction:normal;

}

/**//**//**//**//*ANIMATION L//**//**//**//**//**/

@keyframes center-l{
		0%{transform: rotate(0);}
		50%{transform: translateY(-1.094em) rotate(-90deg);}
		100%{transform: translateY(1.094em) rotate(90deg);}
}

@keyframes right-l{
		0%{transform: rotate(0);}
		50%{transform: translateY(-.094em) translateX(18px) rotate(60deg);}
		100%{transform: translateY(1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER M//**//**//**//**//**/

.letter-m{
  margin:10px;
  display: flex;
}

.lm{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cm{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-m;
  animation-duration: 400ms;
  animation-fill-mode:forwards;
	animation-delay: 7.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rm{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-m;
  animation-duration: 400ms;
  animation-fill-mode:forwards;
	animation-delay: 7.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION M//**//**//**//**//**/

@keyframes center-m{
		0%{transform: rotate(0);}
		60%{transform:rotate(50deg) translateX(-31px) translateY(12px);}
		100%{transform:rotate(-27deg) translateX(-10px) translateY(-4px);}
}

@keyframes right-m{
		0%{transform: rotate(0);}
		45%{transform:rotate(17deg) translateX(-35px) translateY(-15px);}
		100%{transform:rotate(-27deg) translateX(-10px) translateY(-7px);}
}


/**//**//**//**//*LETTER N//**//**//**//**//**/

.letter-n{
  margin:10px;
  display: flex;
}

.ln{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cn{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-n;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
	animation-delay: 8s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rn{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION O//**//**//**//**//**/

@keyframes center-n{
		0%{transform: rotate(0);}
		30%{transform:rotate(80deg);}
		60%{transform:rotate(-68deg);}
		100%{transform:rotate(-60deg);}
}


/**//**//**//**//*LETTER O//**//**//**//**//**/

.letter-o{
  margin:10px;
  display: flex;
}

.lo{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.co{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-o;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 8.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.ro{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION O//**//**//**//**//**/

@keyframes center-o{
		0%{transform: rotate(0);}
		40%{transform: translateY(-2.044em) rotate(-75deg);}
		100%{transform: translateY(-1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER P//**//**//**//**//**/

.letter-p{
  margin:10px;
  display: flex;
}

.lp{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cp{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-p;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
	animation-delay: 8.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rp{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-p;
  animation-duration: 500ms;
  animation-fill-mode:forwards;
	animation-delay: 8.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION P//**//**//**//**//**/

@keyframes center-p{
		0%{transform: rotate(0);}
		30%{transform: translateY(1.094em) translateX(-0.469em) rotate(-90deg);}
		100%{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-p{
		0%{transform: rotate(0);}
		65%{transform: rotate(40deg);}
		100%{transform: translateY(-.2em) translateX(-1.094em) rotate(90deg);}
}

/**//**//**//**//*LETTER Q//**//**//**//**//**/

.letter-q{
  margin:10px;
  display: flex;
}

.lq{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cq{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-q;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 9s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rq{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION Q//**//**//**//**//**/


@keyframes center-q{
		0%{transform: rotate(0);}
		35%{transform:rotate(-54deg) translate(-01px, -81px);}
		100%{transform:rotate(-45deg) translate(-10px, 18px);}
}

/**//**//**//**//*LETTER R//**//**//**//**//**/

.letter-r{
  margin:10px;
  display: flex;
}

.lr{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cr{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-r;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 9.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

.rr{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-r;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 9.5s;
  animation-iteration-count:1;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION R//**//**//**//**//**/


@keyframes center-r{
		0%{transform: rotate(0);}
70%{transform: translateY(1.094em) translateX(-0.469em) rotate(-90deg);}
100%{transform: translateY(-1.094em) translateX(0.469em) rotate(90deg);}
}

@keyframes right-r{
		0%{transform: rotate(0);}
46%{transform:translateY(-2px)translateX(15px) rotate(45deg);}
100%{transform:translateY(2px)translateX(-15px) rotate(-45deg);}
}

/**//**//**//**//*LETTER S//**//**//**//**//**/

.letter-s{
  margin:10px;
  display: flex;
}

.ls{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-s;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 10s;
  animation-iteration-count:2;
	animation-direction:normal;
}
.cs{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-s;
  animation-duration:700ms;
  animation-fill-mode:forwards;
	animation-delay: 10s;
  animation-iteration-count:2;
	animation-direction:normal;
}

.rs{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: rotate;
  animation-name: right-s;
  animation-duration:700ms;
  animation-fill-mode:forwards;
	animation-delay: 10s;
  animation-iteration-count:2;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION S//**//**//**//**//**/

@keyframes left-s{
		0%{transform: rotate(0);}
		65%{transform:scaleX(-1.30) translateY(-18px) translateX(-20px) rotate(90deg);}
		100%{transform:scaleX(1.30) translateY(18px) translateX(20px) rotate(90deg);}
}

@keyframes center-s{
		0%{transform: rotate(0);}
		34%{transform:scaleX(-1.30) translateY(1.094em) rotate(-90deg);}
		100%{transform:scaleX(1.30) translateY(-1.094em) rotate(90deg);}
}

@keyframes right-s{
		0%{transform: rotate(0);}
		36%{transform:translateY(-10px)translateX(25px) rotate(45deg);}
		100%{transform:translateY(0px)translateX(-25px) rotate(-45deg);}
}

/**//**//**//**//*LETTER T//**//**//**//**//**/

.letter-t{
  margin:10px;
  display: flex;
}


.lt{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-t;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 10.5s;
  animation-iteration-count:3;
	animation-direction:alternate;
}
.ct{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;

}

.rt{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-t;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 10.5s;
  animation-iteration-count:3;
	animation-direction:alternate;
}

/**//**//**//**//*ANIMATION T//**//**//**//**//**/

@keyframes left-t{
		0%{transform: rotate(0);}
		87%{transform:scaleX(-1.35) translateY(1.094em) translateX(-19px) rotate(-90deg);}
		100%{transform:scaleX(1.35) translateY(-1.094em) translateX(19px) rotate(90deg);}
}

@keyframes right-t{
		0%{transform: rotate(0);}
		78%{transform:scaleX(-1.35) translateY(1.094em) translateX(18px) rotate(-90deg);}
		100%{transform:scaleX(1.35) translateY(-1.094em) translateX(-18px) rotate(90deg);}
}

/**//**//**//**//*LETTER U//**//**//**//**//**/

.letter-u{
  margin:10px;
  display: flex;
}


.lu{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cu{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-u;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
	animation-delay: 11s;
  animation-iteration-count:3;
	animation-direction:alternate;
}

.ru{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
}

/**//**//**//**//*ANIMATION U//**//**//**//**//**/

@keyframes center-u {
    0% {transform:rotate(0deg);}
    35% {transform:rotate(30deg);}
    53% {transform:translateY(-1.094em) rotate(-90deg);}
    100% {transform:translateY(1.094em) rotate(90deg);}
}


/**//**//**//**//*LETTER V//**//**//**//**//**/

.letter-v{
  margin:10px;
  display: flex;
}


.lv{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-v;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 11s;
  animation-iteration-count:3;
	animation-direction:alternate;
}
.cv{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-v;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 11s;
  animation-iteration-count:3;
	animation-direction:alternate;
}

.rv{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-v;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 11s;
  animation-iteration-count:3;
	animation-direction:alternate;
}

/**//**//**//**//*ANIMATION V//**//**//**//**//**/

@keyframes left-v{
		0%{transform: rotate(0);}
		30%{transform:scaleY(-1.25) translateX(-12px) rotate(45deg);}
		100%{transform:scaleY(1.25) translateX(12px) rotate(-45deg);}
}

@keyframes center-v {
    0% {transform:rotate(0deg);}
    45% {transform:rotate(65deg);}
    100% {transform:translateX(15px)  rotate(40deg);}
}

@keyframes right-v{
		0%{transform: rotate(0);}
		50%{transform:scaleY(1.25) translateX(-22px) rotate(-45deg);}
		100%{transform:scaleY(1.25) translateX(-12px) rotate(45deg);}
}

/**//**//**//**//*LETTER W//**//**//**//**//**/

.letter-w{
  margin:10px;
  display: flex;

}

.lw{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
}
.cw{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-w;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 11.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rw{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-w;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 11.5s;
  animation-iteration-count:3;
	animation-direction:normal;
}

/**//**//**//**//*ANIMATION W//**//**//**//**//**/

@keyframes left-w{
		0%{transform: rotate(0);}
		67%{transform:scaleY(-1.1) scaleX(.35) translateX(-18px) rotate(35deg);}
		100%{transform:scaleY(1.1) scaleX(1.35) translateX(18px) rotate(-35deg);}
}

@keyframes center-w {
    0% {transform:rotate(0deg);}
    37% {transform:rotate(56deg);}
    100% {transform:rotate(27deg) translateX(-10px) translateY(5px);}
}

@keyframes right-w{
		0%{transform: rotate(0);}
		78%{transform:rotate(-27deg) translateX(10px) translateY(-5px);}
		100%{transform:rotate(27deg) translateX(-10px) translateY(7px);}
}

/**//**//**//**//*LETTER X//**//**//**//**//**/

.letter-x{
  margin:10px;
  display: flex;
}


.lx{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-x;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 12s;
  animation-iteration-count:3;
	animation-direction:normal;
}
.cx{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-x;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 12s;
  animation-iteration-count:3;
	animation-direction:normal;
}

.rx{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-x;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 12s;
  animation-iteration-count:3;
	animation-direction:normal;
}


/**//**//*/*ANIMATION X*//**//**//**//**//**//**//**/

@keyframes right-x{
		0%{transform: rotate(0);}
		35%{transform: rotate(45deg);}
		100%{transform:scaleY(1.1) scaleX(1.35) translateX(-18px) rotate(35deg);}
}

@keyframes center-x {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(-25deg);}
    75% {transform:rotate(75deg);}
    100% {transform: translateY(4px)  translateX(-2px) rotate(35deg);}
}


@keyframes left-x{
		0%{transform: rotate(0);}
		50%{transform: rotate(50deg);}
		100%{transform:scaleY(1.1) scaleX(1.35) translateX(18px) rotate(-35deg);}
}

/**//**//**//**//*LETTER Y//**//**//**//**//**/

.letter-y{
  margin:10px;
  display: flex;
}


.ly{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  position: relative;
  background-color:#555;
  animation-name: left-y;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 12.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}
.cy{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: center-y;
  animation-duration: 600ms;
  animation-fill-mode:forwards;
	animation-delay: 12.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}

.ry{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-y;
  animation-duration: 300ms;
  animation-fill-mode:forwards;
	animation-delay: 12.5s;
  animation-iteration-count:2;
	animation-direction:normal;
}

/**//**//*/*ANIMATION Y*//**//**//**//**//**//**//**/

@keyframes right-y{
		0%{transform: rotate(0);}
		60%{transform:scaleY(1.10) translateX(13px) rotate(45deg);}
		100%{transform:scaleY(1.10) translateX(-13px) rotate(45deg);}
}

@keyframes center-y {
    0% {transform:rotate(0deg);}
    30% {transform:rotate(60deg);}
    100% {transform:scale(0.95) translateY(1.094em)  translateX(-2px) rotate(39deg);}
}


@keyframes left-y{
		0%{transform: rotate(0);}
		70%{transform:scaleY(-1.10) translateX(12px) rotate(-45deg);}
		100%{transform:scaleY(1.10) translateX(12px) rotate(-45deg);}
}

/**//**//**//**//*LETTER Z//**//**//**//**//**/


.letter-z{
  margin:10px;
  display: flex;
}

.lz{
  margin: 0 5px;
  width: 15px;
  height: 50px;
  background-color:#555;
  animation-name: left-z;
  animation-duration: 900ms;
  animation-fill-mode:forwards;
	animation-delay: 13s;
  animation-iteration-count:2;
	animation-direction:normal;
}
.cz{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name:center-z;
  animation-duration:600ms;
	animation-fill-mode:forwards;
	animation-delay: 13s;
  animation-iteration-count:2;
	animation-direction: normal;
}

.rz{
  margin:0 5px;
  width:15px;
  height:50px;
  background-color:#555;
  animation-name: right-z;
  animation-duration:400ms;
	animation-fill-mode:both;
	animation-delay: 13s;
  animation-iteration-count:2;
	animation-direction: normal;
}


/**//**//*/*ANIMATION Z*//**//**//**//**//**//**//**/


@keyframes right-z{
		0%{transform: rotate(0);}
		26%{transform: rotate(36deg);}
		100%{transform:scaleX(1.30) translateX(-20px)translateY(-1.094em) rotate(90deg);}
}

@keyframes center-z {
    0% {transform:rotate(0deg);}
    50% {transform: translateY(30px) rotate(-45deg);}
    100% {transform: translateY(0px) rotate(45deg);}
}

@keyframes left-z{
		0%{transform: rotate(0);}
		78%{transform: rotate(40deg);}
		100%{transform:scaleX(1.30) translateY(18px) translateX(20px) rotate(90deg);}
}
