

/*resets*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

a, li{
	list-style: none;
    text-decoration: none;
}

a:visited,a{
  text-decoration: none;
  color: inherit;
}



#illusion{
	display: flex;
	flex-flow: column;
	align-content: center;
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family:sans-serif;
	text-transform: uppercase;
	font-size: 2.5vmax;
	color: #fff;
    width: 100vmax;
}


header ul{
	display: flex;
}

header nav li{
	display: flex;
	flex: 5 1 auto;
	justify-content: center;
	background-color: #fff;
	color: #000;
	padding: .4vw;
	margin: .3vw;
    border: solid;
}

header nav a{
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

header nav li:hover{
	background-color: #000;
	color: #fff;
}


 #illusion .container ul {
	margin: 2vw;
	display:flex;
	flex-wrap: wrap;
/*	justify-content: center;*/
}


.letters{
	display:flex;
	font-family: 'illusionregular', arial, sans-serif;
	font-size: 19vmax;
	letter-spacing:0.3vmax;
	line-height: 0.85em;
	color: white;
	transition: all 1000ms linear;
}

.hidden{
	opacity: 0;
  transform: scale(8.01);
}


.innerIllusion {
	display: inline-flex;
    flex-wrap: wrap;
	position: absolute;
    top: 10vw;
    left: 10vw;
    padding: 3vw;
/*    align-items: center;*/
	background: #98d12c;
	font-family: 'illusionregular', arial, sans-serif;
	font-size: 6vmin;
	letter-spacing: 0.1vw;
	line-height: 6vmin;
    word-spacing: -1.1vw;
	transform: scale(0);
	transition: all 1000ms ease;
}


 .innerIllusionhidden{
	display: flex;
    transform: scale(1);
	transition: all 1000ms ease;
    z-index: 1000;
/*    width: 70%;*/
    position: absolute;
    top: 10vw;
}

em{
  color: aqua;
  padding: none;
  margin:0 .4em;
  display: flex;
}





/**********TYPE PAGE***************/

#type {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 2.5vmax;
    background-color: #fff;
}


#type header nav li{
	background-color: #000;
	color: #fff;
    border: solid;
}

#type header nav li:hover{
	background-color: #fff;
	color: #000;
}

#type .container{
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

 .alphabet{
/*    width: 95%;*/
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

.fullalphabet{
    margin-top: 3vmax;
    display: flex;
    flex-wrap: wrap;
	font-family: 'illusionregular', arial, sans-serif;
    word-break: break-all;
    font-size: 8vmax;
    padding: 0 4vw;
	letter-spacing: 0.5vw;
    color: #000;
}

.displayInfo{
  text-transform: none;
  width: 70vw;
  font-style: italic;
  font-family:serif;
  font-weight: 100;
  font-size: 1.4vmax;
  color: #555;
  opacity: 0.7;
  margin-top: 1vw;

}

.description{
  display: flex;
  text-transform: none;
  color: #000;
  font-weight: 100;
  margin-top: 2vw;
  padding: 0 4vw;
  font-size: 2vw;
}







