/* ==========================================================================
   Boilerplate custom styles
   ========================================================================== */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.wrapper:firts-child {
  justify-content: flex-end;
}

section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 30px auto;
}
h1 {
  color: #37d37f;
  margin-top: 1em;
  font-size: 4em;
  text-align: center;
  line-height: .8em;
}

.alphabet-b {
  margin-top: 8%;
  display: flex;
  flex-flow: row wrap;
  background: #37d37f
}


/*ROUGH ANIMATION */

/*LETTER A//**/

section > .letter-a{
  margin-top: 5vh;
}

.letter-a {
  margin: 10px;
  display: flex;
}

.la {
  margin: 0 5px;
  width: 15px;
  height: 50px;
  /*  position: relative;*/
  background-color: #555;
}

.animateLa {
  animation-name: left-a;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  /*	animation-delay: 1s;*/
  animation-iteration-count: 2;
  /*	animation-direction:normal;*/
}

.ca {
  margin: 0 5px;
  width: 15px;
  height: 50px;
  background-color: #555;
}

.animateCa {
  animation-name: center-a;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  /*	animation-delay: 1s;*/
  animation-iteration-count: 2;
  /*	animation-direction:normal;*/
}

.ra {
  margin: 0 5px;
  width: 15px;
  height: 50px;
  background-color: #555;
}

.animateRa {
  animation-name: right-a;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  /*	animation-delay: 1s;*/
  animation-iteration-count: 3;
  /*	animation-direction:normal;*/
}


/*ANIMATION A//**/

@keyframes left-a {
  from {
    transform: rotate(-20);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes center-a {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes right-a {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-15deg);
  }
}


/* ==========================================================================
   Boilerplate custom styles
   ========================================================================== */


.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


