body{
    display:flex;
    justify-content:center;
    font-family:courier;
}

label,input,div {
    display: flex;
    /*vertical-align: top;*/
    white-space: nowrap;
}
.wrapper{
    display: flex;
    flex-wrap:wrap;
}

.numbers{
    height:400px;
    /*flex:1;*/
    position: relative;
}
p {
    white-space: normal;
}
#u13,#u14,#u15,
#u10,#u11,#u12,
#u6,#u7,#u8,#u9,
#u2,#u3,#u4,#u5,
#u1{
    display: none;
}
#u1:checked ~ .remove-check,
#u2:checked ~ .remove-check,
#u3:checked ~ .remove-check,
#u4:checked ~ .remove-check,
#u5:checked ~ .remove-check,
#u6:checked ~ .remove-check,
#u7:checked ~ .remove-check,
#u8:checked ~ .remove-check,
#u9:checked ~ .remove-check,
#u10:checked ~ .remove-check,
#u11:checked ~ .remove-check,
#u12:checked ~ .remove-check,
#u13:checked ~ .remove-check,
#u14:checked ~ .remove-check,
#u15:checked ~ .remove-check{
    display: none;
}
#u1:checked ~ .u1,
#u2:checked ~ .u2,
#u3:checked ~ .u3,
#u4:checked ~ .u4,
#u5:checked ~ .u5,
#u6:checked ~ .u6,
#u7:checked ~ .u7,
#u8:checked ~ .u8,
#u9:checked ~ .u9,
#u10:checked ~ .u10,
#u11:checked ~ .u11,
#u12:checked ~ .u12,
#u13:checked ~ .u13,
#u14:checked ~ .u14,
#u15:checked ~ .u15{
    animation-name: slide;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.u1,.u2,.u3,.u4,
.u5,.u6,.u7,.u8,
.u9,.u10,.u11,.u12,
.u13,.u14,.u15{
   width:0;
    overflow:auto;
}


@keyframes slide {
    from {width:0;}
    to {width:300px;}
}


/*LABEL STYLES*/

.btn{
    color:#FF33FF;
    font-size: 2em;
    padding: 5px;
    margin:0px 10px 5px;
    height:0;
    background-color:#999;
}

.l-u1{
    padding-bottom: 15%;
    font-size: .4em;
    background-color:#F0F0F0;
    
}
.l-u2{
    padding-bottom: 12%;
    font-size: .4em;
    background-color:#E8E8E8;
}
.l-u3{
    padding-bottom: 35%;
    font-size: .5em;
    background-color:#E0E0E0;
}
.l-u4{
    padding-bottom: 50%;
    font-size: .6em;
    background-color:#D8D8D8;
}
.l-u5{
    padding-bottom: 65%;
    font-size: .7em;
    background-color:#D0D0D0;
}
.l-u6{
    padding-bottom: 70%;
    font-size: .8em;
    background-color:#C8C8C8;
}
.l-u7{
    padding-bottom: 80%;
    font-size: .9em;
    background-color:#C0C0C0;
}
.l-u8{
    padding-bottom: 85%;
    font-size: 1em;
    background-color:#B8B8B8;
}
.l-u9{
    padding-bottom: 90%;
    font-size: 1.1em;
    background-color:#B0B0B0;
}
.l-u10{
    padding-bottom: 95%;
    font-size: 1.2em;
    background-color:#A8A8A8;
}
.l-u11{
    padding-bottom: 100%;
    font-size: 1.3em;
    background-color:#A0A0A0;
}
.l-u12{
    padding-bottom: 105%;
    font-size: 1.4em;
    background-color:#989898;
}
.l-u13{
    padding-bottom: 110%;
    font-size: 1.5em;
    background-color:#909090;
}
.l-u14{
    padding-bottom: 115%;
    font-size: 1.6em;
    background-color:#888888;
}
.l-u15{
    padding-bottom: 125%;
    font-size: 1.7em;
    background-color:#808080;
}

.home-info{
    color:#fff;
    padding: 20px;
    display:block;
    max-width: 350px;
    position: absolute;
    top:55%;
    left:10%;
    background: #000;
}