body{
  background-color:#bbb;
  display: flex;
}


.alphabet{
  display:flex;
  flex-direction:row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

/*letter H*/

.letter-h{
  margin:20px;
  width:30%;
  height:30%;
  position: relative;
  display: flex;
}

.lh{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
}
.ch{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: rotate(90deg);
  animation-name: rotate;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.rh{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

}
.ld:hover,
.cd:hover,
.co:hover,
.ch:hover{
 animation-play-state: running;
 background-color: #79F7CF;

}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

/*letter O*/

.letter-o{
  margin:20px;
  width:30%;
  height:30%;
  position: relative;
  display: flex;
}

.lo{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
}
.co{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(-75px) rotate(90deg);
  animation-name: rotate;
  animation-duration: 100ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.ro{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

}

/*letter D*/
.letter-d{
  margin:20px;
  width:30%;
  height:30%;
  position: relative;
  display: flex;
}

.ld{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(75px) translateX(45px) rotate(90deg);
  animation-name: rotate;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-timing-function:step-end;
}
.cd{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(-75px) translateX(-5px) rotate(90deg);
  animation-name: rotate;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.rd{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

} 

/*alternate borders method */

.border-method{
  display:flex;
  margin:15px;
  flex-direction:row;
  justify-content:center;
  align-items:center;

}


.borders {
    width: 70px;
    height: 150px;
    position: relative;
    margin: 5px;
    border-left:solid 40px black;
    border-right:solid 40px black;
}
.borders::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 40px;
    background-color: black;
    z-index: -1;
}
.borders:hover{
    border-top:solid 40px black;
}
.borders:hover:before{
    position: absolute;
    top: 0;
    left: -40px;
    height: 100%;
    width: 40px;
}

.stopmotion {
    margin-left: 40px;
    display:flex;
    width: 70px;
    height: 100px;
    border:solid 40px black;
}

.stopmotion:hover{
    border-bottom: none;
    height:110px;
    background-color: bisque;
}
