body{
  background-color:#bbb;
  display: flex;
}


.alphabet{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

/*letter H*/

.letter-h{
  margin:20px;
  display: flex;
}

.lh{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
}
.ch{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: rotate(90deg) scaleY(0.9);
  animation-name: rotate;
  animation-duration: 5ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.rh{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

}



/*letter O*/

.letter-o{
  margin:20px auto;
  display: flex;
}

.lo{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
}
.co{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(-55px) rotate(90deg) scaleY(0.9);
  animation-name: rotate;
  animation-duration: 5ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.ro{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

}

{
    animation-play-state: running;


}

/*letter D*/
.letter-d{
  margin:20px;
  display: flex;
}

.ld{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(55px) translateX(45px) rotate(90deg);
  animation-name: rotate;
  animation-duration: 5ms;
  animation-play-state: paused;
  animation-timing-function:step-end;
}
.cd{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;
  transform: translateY(-55px) translateX(-5px) rotate(90deg);
  animation-name: rotate;
  animation-duration: 5ms;
  animation-play-state: paused;
  animation-timing-function: step-end;
}

.rd{
  margin:0 5px;
  width:40px;
  height:150px;
  background-color:#999;

} 


.letter-h:hover > .ch,
.letter-o:hover > .co,
.letter-d:hover > .ld,
.letter-d:hover > .cd {
    animation-play-state: running;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}
/*alternate borders method */

.border-method{
    margin:20px;
  display:flex;
}


.border-h {
    width: 70px;
    height: 150px;
    position: relative;
    margin: 5px;
    border-left:solid 40px bisque;
    border-right:solid 40px bisque;
}
.border-h::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 40px;
    background-color: bisque;
    transform: rotate(90deg);
    animation-name: rotate;
    animation-duration: 5ms;
    animation-play-state: paused;
    animation-timing-function: step-end;
}

.border-h:hover:before{
    animation-play-state: running;
}

.border-o {
    position: relative;
    margin:5px 20px;
    width: 70px;
    border-left:solid 40px aqua;
    border-right:solid 40px aqua;
    height:150px;
}

.border-o::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 40px;
    background-color: aqua;
    transform: translateY(-55px) rotate(90deg);
    animation-name: rotate;
    animation-duration: 5ms;
    animation-play-state: paused;
    animation-timing-function: step-end;
}

.border-o:hover:before{
    animation-play-state: running;
}


