/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}


/*------------------------------------*\
    GAME CODE
\*------------------------------------*/


body{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color:rgb(250, 159, 82);
  flex-flow: column;
  align-content: center;
}
header{
  display: flex;
  flex-flow: column;
  margin-top: 1vw;
}
.main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
header h1{
  text-align: center;
  font-size: 4vw;
  color: #fa5244;
}

header h2{
  font-size: 3vw;
  margin-top: 1vw;
}


.start{
  display: flex;
  align-self: center;
  font-size: 2vw;
  background-color: chartreuse;
  color: white;
  border:none;
  margin-top: 2vw;
  padding: 15px;
}


input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/* Default State */
.intro {
   line-height: 100px;
   color: #fa5244;
   text-align: center;
	display: none;
/*  align-self: center;*/
	transition: all 4s ease;
}

/* Toggled State */
/*
input[type=checkbox]:checked ~ .intro {
  visibility: visible;
}
*/


.game {
  position: relative;
  display: flex;
	flex-flow: column;
  justify-content: center;
	align-content: center;

}

.pick, .done{
  font-size: 2vw;
  flex: 0 5 10%;
  border: solid 5px white;
  color: chartreuse;
  padding: 15px;
  margin-bottom: 2vw;
	text-align: center;
}

.pickWrap {
	display: flex;
	justify-content: space-around;

}


.selectionArea{
  display: flex;
  justify-content: center;

}

.selection{
  display:flex;
  font-size: 3vw;
  padding: 1vw;
  color: white;
  background: chartreuse;
  justify-content: space-around;
  margin: 1vw;
}


.turn > h2 {
	color: aqua;
	margin-top: 1vw;
	font-size: 2vw;
}

.winner {
	width: 50vw;
	height: 5vw;
	border: solid 5px #fa5244;
	align-self: center;
}



























